*{
    margin:0px auto;
    padding: 0px auto;
    font-family: 'Lato', sans-serif; /*Letra parrafos*/
}

/*HOME*/
.content--canvas{
	background: hsla(260,40%,5%,1);    
	height:100vh;
}

.content_title{
	font-family: 'Roboto', sans-serif;    
	position: absolute;
	top: 50%;
	left: 0;
    width: 100%;    
	text-align: center;
	margin: -5.5vw 0 0 0;
	z-index: 100;	
}

.content_title h2{
	font-size: 42px;
	color: white;
	line-height: 1;
	border-spacing: 40px;
}

.highlight{
	color:#D81159;
	font-weight: bold;
}

.nav-wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items:flex-end;
	position: fixed;
	z-index:-10000;
	padding:0px 100px;
	background: hsla(260,40%,5%,1);
}

#btnabout{
	width: 190px;
    height: 45px;
    margin: 30px 100px;
    background: transparent;
    border: 1px solid white ;      
	font-size: 18px; 	
    cursor: pointer;
}

#btnabout a{
	color:white;
}

#btnabout:hover{
    background: #0496ff;
    border: 2px solid #0496ff; 
    font-weight: bold;  
}

#about, #skills, #projects, #contact{
	padding: 60px 100px;		
	width: 100%;		
}

#about h3, #skills h3, #projects h3 {
	padding-bottom:40px;
	text-align: center;
	color:#212F3C;
	font-weight: bold;
}

/*ABOUT ME*/
#profilephoto{
	width: 70%;
	height: 70%;
}

#about h5{
	text-align: justify;
	color:#212F3C;
	font-family: 'Roboto', sans-serif; 			
}

/*SKILLS*/
#skills article img{
	padding: 10px;
	display:block;
	margin:auto;
	width: 90px;
	height:90px;
}

.skillimagelarge{
	width: 100px!important;
	
}

#skills article h5{
	text-align: center;
	color:#212F3C;	
}

#skills article h6{
	text-align: center;
	color:#212F3C;	
	font-family: 'Roboto', sans-serif; 	
	margin-bottom: 50px;

}

/*PROJECTS*/
#projects{
	display:block;
	
}
.card{
	width: 32%!important;
	margin-right:10px;	
}

.card-image img{
	width:100% !important;
	height:300px;	
}

.card-action a{
	color:#D81159 !important;
	font-weight: bold;
	font-family: 'Roboto', sans-serif; 
}

.card-reveal{
	background-color:#0496ff !important;
	color:white;	
	font-family: 'Roboto', sans-serif; 
}

.card-title{
	color:white;
	font-family: 'Roboto', sans-serif; 
	font-weight: bold;
}

/*CONTACT*/

#contact{
	background: hsla(260,40%,5%,1);
	margin: -5.5vw 0 0 0;
	height:100vh;
}

#contact h3{
	padding:40px 0px;
	text-align: center;
	color:white;
	font-weight: bold;
	margin-bottom: 0px;
    padding-bottom: 20px;
}

#contact h5{
	padding-top:20px;
	text-align: center;
	color:white;
	font-family: 'Roboto', sans-serif; 
}

#contactflex{
	display:flex;
	flex-direction:row;

}

#linkedin{		
	text-align: right;	
}

#github{	
	text-align: left;	
}

#contactflex a img{
	margin-top:20px;
	width: 12%;
}  

#cv{
	width: 7%;	
	display:block;
	margin:auto;
	text-align: center;
}

footer{
	background-color:#D81159;
	height:100%
}

footer h6{
	margin:0px;
	padding: 10px 100px;
	color:white;
	text-align:center;
}

/*RESPONSIVO PORTRAIT*/ 
@media screen and (max-width: 992px) and (orientation: portrait){

	.content {
		height: 100vh;
		justify-content: center;
	}

    .content_title{
		top:30%;
	}
	.content_title h2{		
		font-size: 92px;
		line-height: 1.5;
	}

	#btnabout{
		width: 500px;
		height: 120px;
		margin: 30px 100px;		      
		font-size: 48px; 	
		cursor: none;
	}

	nav i.material-icons{
        font-size:100px;
        margin-top: 65px;
	}
	
	.sidenav{
        width: 700px;
    }
    .sidenav li a{
        font-size:40px;
        margin-top:50px;     
	}
	
	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
		height: 150px;
		line-height: 40px;
	}

	ul:not(.browser-default) {
		z-index:20000;
	}

	#about, #skills, #projects, #contact{
		padding: 60px 80px;					
	}

	/*ABOUT ME*/
	#about h3, #skills h3, #projects h3 {
		font-size: 82px;
	}

	#profilephoto{
		width: 50%;
		height: 50%;
		display:block;
		margin:auto;
	}

	#about h5{
		font-size:56px;		
	}


	/*SKILLS*/

	#skills article h5{
		font-size:42px;
		font-weight: bold;		
	}

	#skills article h6{
		font-size:38px;	

	}

	#skills article img{		
		width: 150px;
		height:150px;
	}
	
	.skillimagelarge{
		width: 170px!important;		
	}

	/*PROJECTS*/
	.card{
		width: 100%!important;
		height:80%;
		margin-bottom:50px;	
	}

	.card-image img{
		width:100% !important;
		height:800px;
	}
	.card-action a{
		color:#D81159 !important;
		font-size:42px;
		font-weight: bold;

	}

	.card .card-content .card-title {
		font-size: 52px;
		font-weight: bold;
	}

	.material-icons {
        font-size:60px;
	}

	.card-reveal{
		font-size:42px;		
		font-weight: normal!important;
	}
	
	.card-title{		
		font-size:52px!important;
	}

	/*CONTACT*/

	#contact h3{
		margin-top:200px;
		font-size: 82px;
	}
	
	#contact h5{
		font-size:56px;
		line-height: 1.5;
		margin-top:60px;	
	}
	
	#contactflex a img{
		margin-top:50px;
		width: 40%;
		text-align:center;
	}  

	#linkedin, #github{		
		text-align: center;	
	}
	
	#cv{
		margin-top:50px;
		width: 25%;	
	}

		
	footer h6{
		font-size:48px;
	}	

}

/*RESPONSIVO LANDSCAPE*/ 
@media screen and (max-width: 992px) and (orientation: landscape){

	.content {
		height: 100vh;
		justify-content: center;
	}

    .content_title{
		top:30%;
	}	

	#btnabout{
		width: 200px;
		height: 60px;			      
		font-size: 28px; 	
		cursor: none;
	}

	nav i.material-icons{
        font-size:40px;
        margin-top: 40px;
	}
	
	.sidenav{
        width: 300px;
    }
    .sidenav li a{
        font-size:24px;
        margin-top:20px;     
	}
	
	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
		height: 70px;
		line-height: 0px;
	}

	ul:not(.browser-default) {
		z-index:20000;
	}

	#about, #skills, #projects, #contact{
		padding: 60px 80px;					
	}

	/*ABOUT ME*/
	#about h3, #skills h3, #projects h3 {
		font-size: 48px;
	}

	#profilephoto{
		width: 30%;
		height: 30%;
		display:block;
		margin:auto;
	}

	#about h5{
		font-size:28px;		
	}

	/*SKILLS*/

	#skills article h5{
		font-size:32px;
		font-weight: bold;		
	}

	#skills article h6{
		font-size:28px;	
	}

	#skills article img{		
		width: 100px;
		height:100px;
	}
	
	.skillimagelarge{
		width: 120px!important;		
	}

	/*PROJECTS*/
	.card{	
		margin-bottom:50px;	
	}

	.card-image img{
		width:100% !important;
		height:300px;
	}
	.card-action a{		
		font-size:20px!important;
		font-weight: bold;
	}	

	.material-icons {
		font-size:30px;
		padding-left:10px;
	}
	.card-title{
		font-size:20px!important;
	}
	.card-reveal{
		font-size:22px!important;		
		font-weight: normal!important;
	}


	/*CONTACT*/

	#contact h3{	
		margin-top: 10px;	
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 48px;
	}
	
	#contact h5{
		margin-top: 0px;
		font-size:28px;			
	}
	
	#contactflex a img{		
		width: 15%;
		text-align:center;
	}  

	#linkedin, #github{		
		text-align: center;	
	}
	
	#cv{		
		width: 10%;	
	}

		
	footer h6{
		font-size:24px;
	}	

}



